html, body{
    height: 100%;
    margin: 0; 
    padding: 0;
}
body{
	font-family: Helvetica;
	line-height: 18px;
	font-weight: normal;
	font-size: 14px;
	color:#484949;
}
.containerDiv > div{
	display: inline-block;
	float: left;
}
.moviesContainer{
	box-shadow:-14px 0 10px -8px rgba(31, 73, 125, 0.8);
	height: 100%;
	position: absolute;

}
.movieList{
	width:33%;
	padding:2%;
}
.movieList > div{
	display: inline-block;
	float: left;
	width:50%;
}
.moviesContainer{
	width:66%;
	padding:2%;
}

.movieDescrDiv{
	width:70%;
	display:inline-block;
	padding-left: 5%;
}
.movieDescr{
	height: 50%;
}
.movieCredits{
	height: 80%;
	position: relative;
	overflow-y: scroll;

}
.movieCredits > div{
	display: inline-block;
	float: left;
}
.boldClass{
	font-weight: bold;
}
img{
	vertical-align: top;
}
.listImgs{
	height : 122px;
	width: 122px;
	border-radius: 60px;
	cursor: pointer;
}
.mvImg{
	height: 262px;
	width: 174px;
}
.charImgs{
	height: 66px;
	width: 66px;
	border-radius: 30px;
	cursor: pointer;

}	
.personImg{
	height: 420px;
	width: 347px;
	border : 5px solid #A9DBA;
}
h1{
	font-size : 24px;
	font-weight: bold;
	color : #1A9DBA;
}
h2{
	font-size : 14px;
	font-weight: bold;
	color : #484949;
}
.focussedImgCls{
	border:5px solid #1A9DBA;
}
.focussedTextCls ,.focussedTextCls > h2{
		color : #1A9DBA !important;	
}

